# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# code
.vscode

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
mcmodsrepo

# Files from Forge MDK
forge*changelog.txt
